.video-container {
    height: 65vh;
    position: relative;
    overflow: hidden;
    padding-bottom: inherit;
    
    opacity: 1;
    left: 0;
  }
  
video {
    object-fit: cover;
    font-family: 'object-fit: cover;';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    position: fixed;
    background-color: transparent;
    padding: 0px 20px;
    
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    z-index: 9998;
}

.caption {
    padding-top: 5%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

section {
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.sidenav {
    z-index: 9999;
}

.fadein {
    background-color: rgba(78, 105, 138, 255);
    transition: background-color 0.5s linear;
}

.fadeout {
    background-color: transparent;
    transition: background-color 0.5s linear;
}

.odd {
    background-color: rgb(255, 255, 255);
}

.even {
    background-color: rgb(225, 225 , 225);
}

.fa-ellipsis-v {
    font-size: 15px;
}

.container {
    transform: translate(-100vw);
}

.sectionfadein {
    animation: sectfadein 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

.sectionfadeout {
    animation: sectfadeout 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes sectfadein {
    from {transform: translate(-100vw);}
    to {transform: translate(0vw);}
}

@keyframes sectfadeout {
    from {transform: translate(0vw);}
    to {transform: translate(-100vw);}
}