.kotak {
    width: 250px;
    height: 150px;
    background-color: skyblue;
    line-height: 150px;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;

    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
}

.kotak:hover {
    background-color: salmon;
    left: 200px;
    top: 50px;
    border-radius: 2000px;
    
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
	-moz-box-shadow: 15px 5px 5px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
	-o-box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
	-ms-box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);

    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}